/******** MOBILE ********/

.skills-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

/******** TABLET ********/
@media all and (min-width: 768px) {

}

/******** DESKTOP ********/
@media (min-width: 1200px) {
 
}


